*{
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    width: 100%;
    
}

.container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
   
}

header, footer{
    flex: 0 0 150px; 
    background-color: aqua;
    
}

.center{
    flex: 1;
    display: Flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: pink;
}

nav, aside{
    flex: 1;
    background-color: lightgreen;
   
}

main {
    flex: 3;
}